<!DOCTYPE html>
<html>
<head>
  <title>GiftEX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <audio src="/audio/silent-night-disco.mp3" autoplay loop ></audio>
</head>
<body>
<div class="text-center">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="text-center"><h1 class="christmas">HO HO HO! MERRY CHIRSTMAS!</h1></div>
<%= image_tag("what-do-you-want-for-christmas.gif")%>
<%= image_tag("presents-under-tree.gif")%>
<%= image_tag("santa-dancing-1.gif")%>
<%= image_tag("frosty-in-sleigh-animated.gif")%>
<%= image_tag("santa-delivering-gifts-1.gif")%>
<%= image_tag("merry-christmas-elf.gif")%>
</div>

<%= yield %>

</body>
</html>
